@page "/"
@using OpenHFT.Core.Interfaces
@using OpenHFT.GUI.Components.Shared
@using OpenHFT.GUI.Services
@using OpenHFT.Core.Instruments
@using OpenHFT.Core.Models

@inherits ComponentBase

@namespace OpenHFT.GUI.Components.Pages

<PageTitle>Home</PageTitle>

@*
    CHANGE 1: This MudContainer becomes a full-height, column-oriented flex container.
    - 'd-flex flex-column': Turns it into a flex container.
    - 'flex-grow-1': This is the KEY. It makes the container expand to fill all
      available vertical space within the MainLayout.
*@
<MudPaper Class="pa-2" Elevation="2">
    <MudStack Spacing="4">
        <MudGrid Spacing="2">
            @* --- Instance List (Left Side) --- *@
            <MudItem xs="12" md="3">
                <FillsView />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudStack Spacing="2" Style="height: 100%;">
                    <div style="height: 40%;">
                        <InstanceListView Instances="_activeInstances" SelectedInstance="_selectedInstance"
                            OnInstanceSelected="HandleInstanceSelection" />
                    </div>
                    <div style="height: 40%;">
                        <HedgingParametersController @ref="_hedgingController"
                                                     QuotingInstrument="@(_selectedInstance != null ? InstrumentRepository.GetById(_selectedInstance.InstrumentId) : null)"
                                                     IsHedgerActive="@(_hedgingStatus?.IsActive ?? false)"
                                                     OnStart="HandleStartHedging"
                                                     OnStop="HandleStopHedging" />
                    </div>
                    <div style="height: 20%;">
                        <ActiveOrdersView OmsIdentifier="@_selectedInstance?.OmsIdentifier"
                            InstrumentId="@_selectedInstance?.InstrumentId" />
                    </div>
                </MudStack>
            </MudItem>

            @*
            CHANGE 2: This MudGrid also becomes a growing flex item.
            It will now fill all the space NOT taken by the h1 and MudText above it.
            'AlignItems.Stretch' ensures the MudItems inside it also stretch vertically.
            *@
            @* --- Main Content (Right Side) --- *@
            <MudItem xs="12" md="6">
                <MudGrid Spacing="2">
                    <MudItem xs="12" md="8">
                        <OrderBookDisplay ActiveInstance="_selectedInstance" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <QuotingParametersController @ref="_quotingController" OnSubmit="HandleSubmitParameters"
                            OnCancel="HandleCancelParameters" />
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudStack>
</MudPaper>