@inherits LayoutComponentBase
@namespace OpenHFT.GUI.Components.Layout
@using OpenHFT.Core.Configuration
@using OpenHFT.GUI.Services

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5">OpenHFT</MudText>
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <NavMenu />
    </MudDrawer>

    <MudMainContent Class="d-flex flex-column" Style="padding-top: 64px;"> @* Use padding instead of margin *@
        <div class="flex-grow-1 pa-4" style="overflow-y: auto;">
            @Body
        </div>

        <Footer />
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}