@namespace OpenHFT.GUI.Components.Shared
@using OpenHFT.Core.Configuration
@using OpenHFT.GUI.Services

<MudPaper Class="pa-4">
    <MudText Typo="Typo.h6" GutterBottom="true">OMS Connection</MudText>
    <div class="d-flex align-center gap-4">
        <MudSelect T="OmsServerConfig" @bind-Value="_selectedServer" Label="Select OMS Server"
            Variant="Variant.Outlined" Disabled="CurrentStatus == ConnectionStatus.Connected">
            @foreach (var server in Servers)
            {
                <MudSelectItem Value="server">@server.Name</MudSelectItem>
            }
        </MudSelect>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleConnectClick"
            Disabled="@IsConnectDisabled">
            @if (CurrentStatus == ConnectionStatus.Connecting)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                <MudText Class="ms-2">Connecting...</MudText>
            }
            else
            {
                <MudText>Connect</MudText>
            }
        </MudButton>

        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="HandleDisconnectClick"
            Disabled="@IsDisconnectDisabled">
            Disconnect
        </MudButton>

        <MudChip T='string' Color="@GetStatusColor()">
            Status: @CurrentStatus
        </MudChip>
    </div>
</MudPaper>